aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: $aside-width * (-1);
  width: $aside-width;
  color: $white;
  background: $mountain-meadow;
  z-index: 99;
  @include flexbox();
  @include flex-flow(column nowrap);
  @include transition(right);

  &.visible {
    right: 0;

    #close-menu {
      right: $aside-width;
      opacity: 1;
      @media #{$tablet-up}{
        display: none;
      }
    }
  }

  @media #{$tablet-up}{
    right: 0;
  }

  #close-menu {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    cursor: pointer;
    background: rgba($tundora, .75);
    z-index: 1;
    @include transition(right opacity);
    @media #{$tablet-up}{
      display: none;
    }
  }
  
  sidebar {
    position: relative;
    padding: $gutter $gutter (44px + $gutter*2) $gutter;
    @include flex(1);

    .sidebar-action {
      &:not(:last-of-type) {
        margin-bottom: $gutter;
      }

      a {
        cursor: pointer;
      }

      .create-storyblock {
        display: none;
        position: relative;
        text-align: center;
        font-size: 14px;
        border: 2px rgba($white, .5) dashed;
        padding: 8px $gutter/2;
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        //@include transition(border-color);
        
        @media #{$tablet-up} {
          display: block;
        }

        &:active {
          cursor: grabbing;
          cursor: -moz-grabbing;
          cursor: -webkit-grabbing;
        }
        &:hover{
          border-color: $white;
          &:after {
            content: 'Drop me over the timeline';
            position: absolute;
            top: 100%;
            left: 50%;
            color: $white;
            padding: 6px;
            font-size: 9px;
            white-space: nowrap;
            background: rgba($tundora, .75);
            @extend .sans-serif;
            @include rounded();
            @include translateX(-50%);
          }
        }

        i {
          margin-right: 6px;
        }
      }

      .form-group {
        label {
          display: block;
          margin-bottom: 8px;
          font-size: 13px;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: $gutter;
      display: block;
      height: 44px;
      background: url('/img/logo.png') no-repeat center center;
      background-size: 79px 44px;
    }
  }
  a.user-aside {
    cursor: pointer;
    padding: 0 $gutter;
    background: rgba($black, .25);
    color: $white;
    font-size: 13px;
    line-height: 1;
    text-decoration: none;
    @include flexbox();
    @include flex(0 0 40px);
    @include align-items(center);
    @include justify-content(center);

    &:hover {
      background: rgba($black, .35);
    }
  }
}