aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: $aside-width;
  color: $white;
  background: $mountain-meadow;
  @include flexbox();
  @include flex-flow(column nowrap);
  sidebar {
    position: relative;
    padding: $gutter $gutter (44px + $gutter*2) $gutter;
    @include flex(1);

    .sidebar-action {
      &:not(:last-of-type) {
        margin-bottom: $gutter;
      }

      a {
        cursor: pointer;
      }

      .create-storyblock {
        display: block;
        position: relative;
        text-align: center;
        border: 2px $white dashed;
        padding: 8px $gutter/2;
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        &:active {
          cursor: grabbing;
          cursor: -moz-grabbing;
          cursor: -webkit-grabbing;
        }
        &:hover:after {
          content: 'Drag me over the timeline';
          position: absolute;
          top: 100%;
          left: 50%;
          color: $white;
          padding: 6px;
          font-size: 9px;
          white-space: nowrap;
          background: rgba($tundora, .75);
          @extend .sans-serif;
          @include rounded();
          @include translateX(-50%);
        }
      }

      .form-group {
        label {
          display: block;
          margin-bottom: 8px;
          font-size: 13px;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: $gutter;
      display: block;
      height: 44px;
      background: url('/img/logo.png') no-repeat center center;
      background-size: 79px 44px;
    }
  }
  a.user-aside {
    cursor: pointer;
    padding: 0 $gutter;
    background: rgba($black, .25);
    color: $white;
    font-size: 13px;
    line-height: 1;
    text-decoration: none;
    @include flexbox();
    @include flex(0 0 40px);
    @include align-items(center);
    @include justify-content(center);

    &:hover {
      background: rgba($black, .35);
    }
  }
}