input, textarea, button {
  border: 0;
  resize: none;
  outline: none;
  outline-color: transparent;
  outline-style: none;
}

input, textarea {
  display: block;
  width: 100%;
}

.form-group {
  position: relative;
  input {
    padding: 0;
    padding-top: 16px;
    margin-top: 16px;
    height: 40px;
    border-bottom: 1px $alto solid;
    font-size: 14px;

    & + label {
      display: block;
      position: absolute;
      top: 0;
      font-size: 11px;
      line-height: 1;
      color: $alto;
    }

    &:focus {
      border-bottom-color: $dodger-blue;

      & + label {
        color: $dodger-blue;
      }
    }
  }

  .select-wrapper {
    @include rounded();
    overflow: hidden;
    background: $white no-repeat right $gutter/2 center;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTVweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMTUgMjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+YXJyb3dkb3duPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8ZyBpZD0iYXJyb3dkb3duIiBmaWxsPSIjMDAwMDAwIj4gICAgICAgICAgICA8cG9seWdvbiBpZD0iUmVjdGFuZ2xlLTYiIHBvaW50cz0iMyA4IDEyIDggNy41IDEzIj48L3BvbHlnb24+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=);

    select {
      font-size: 14px;
      cursor: pointer;
      padding: $gutter/2;
      width: 130%;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
      &:focus {
        outline: none;
      }
    }
  }
}

auth-form {
  &:before {
    content: '';
    position: fixed;
    background: rgba($white, .85);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }
  sign-up-form, sign-in-form {

    .form-wrapper {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 300px;
      padding: $gutter;
      background: $white;
      z-index: 99;
      @extend .material-shadow;
      @include translateXY(-50%, -50%);

      h1 {
        font-size: 18px;
        margin: 0 0 10px 0;
        color: $bluewood;
        width: 100%;
      }

      a.close {
        font-size: 11px;
        font-weight: 700;
        color: $aluminum;
        cursor: pointer;

        &:hover {
          color: $steel;
        }
      }

      label {
        font-size: 14px;
      }
    }
  }
  .swap-form {
    margin-top: 8px;
    text-align: center;
    a {
      font-size: 11px;
      color: rgba($bluewood, .75);
      text-align: center;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.ng-invalid.ng-touched {
  border-bottom-color: $punch; /* red */
}