input, textarea, button {
  border: 0;
  resize: none;
  outline: none;
  outline-color: transparent;
  outline-style: none;
}

input, textarea {
  display: block;
  width: 100%;
}

form {
  .form-group {
    position: relative;
    label {
      display: block;
      position: absolute;
      top: 0;
      font-size: 11px;
      line-height: 1;
      color: $alto;
    }
    input {
      padding: 0;
      padding-top: 16px;
      margin-top: 16px;
      height: 40px;
      border-bottom: 1px $alto solid;
      font-size: 14px;

      &:focus {
        border-bottom-color: $dodger-blue;

        & + label {
          color: $dodger-blue;
        }
      }
    }
  }
}

auth-form {
  &:before {
    content: '';
    position: fixed;
    background: rgba($white, .85);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }

  .form-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 300px;
    padding: $gutter;
    background: $white;
    z-index: 99;
    @extend .material-shadow;
    @include translateXY(-50%, -50%);

    h1 {
      font-size: 18px;
      margin: 0 0 10px 0;
      color: $bluewood;
      width: 100%;
    }

    a.close {
      font-size: 11px;
      font-weight: 700;
      color: $aluminum;
      cursor: pointer;

      &:hover {
        color: $steel;
      }
    }

    label {
      font-size: 14px;
    }
  }
}

.ng-invalid.ng-touched {
  border-bottom-color: $punch; /* red */
}

.down-arrow {
  width: 10px;
  height: 10px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $contrast-header-color;
}