main {
  position: absolute;
  left: 0;
  right: 0;

  @media #{$tablet-up}{
    right: $aside-width;
  }
}

#controls {
  position: fixed;
  right: $gutter;
  top: $gutter + 48px; // 48px is header height
  background-color: $white;
  overflow: hidden;
  @include shadows(0px 1px 4px rgba($black,0.3));
  @include rounded();

  @media #{$tablet-up}{
    right: $gutter + $aside-width;
    top: $gutter;
  }

  a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: $tundora;
    font-weight: 700;
    text-align: center;
    background-color: $white;
    @include transition(background-color);
    &:first-child {
      border-bottom: 1px darken($athens-grey, 5%) solid;
    }
    &:hover {
      cursor: pointer;
      color: $black;
      background-color: $athens-grey;
      text-decoration: none;
    }
  }
}