.story-block {
  width: 100%;
  position: absolute;
  padding-left: $timeline-left-padding;
  @include flexbox();

  &::before, &::after {
    pointer-events: none;
    cursor: pointer;
  }

  &:not(.exposed) {
    &.chapter {
      &::before, &::after {
        content: '';
        position: absolute;
        @include rounded(50%);
      }

      &::before {
        width: $storyblock-circle-size - 4px;
        height: $storyblock-circle-size - 4px;
        left: $timeline-left-padding + 2px;
        top: 5px + 2px;
        border: 2px $white solid;
        z-index: 2;

      }

      &::after {
        width: $storyblock-circle-size;
        height: $storyblock-circle-size;
        left: $timeline-left-padding;
        top: 5px;
        border: 2px $cadet-blue solid;
        z-index: 1;
      }
    }

    .text-container {
      margin: 0 $gutter;
      max-width: 100%;
      min-width: 0;
      @extend .material-shadow.light;
      @include flex(1 1);
      @include rounded();

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: $storyblock-circle-size/2; // It should be this size -5px which is triangle size +5px which is index margin from top
        left: -5px;
        border: 5px solid black;
        border-color: transparent transparent $white $white;
        box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.12);
        @include transform(rotate(45deg));
      }

      .description {
        height: 13px * 1.5 * 3;
        overflow: hidden;
        opacity: .75;
      }
    }
    .exposed-actions {
      display: none;
    }
  }

  .index {
    color: $white;
    background-color: $mountain-meadow;
    position: relative;
    top: 5px;
    width: $storyblock-circle-size;
    height: $storyblock-circle-size;
    z-index: 1;
    max-width: 100%;
    min-width: 0;
    cursor: pointer;
    @extend .slab;
    @include rounded(50%);
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex(0 0 $storyblock-circle-size);

    span {
      font-size: 14px;
    }
  }

  &.paragraph {
    .index {
      background: none;
      position: relative;

      &::before, &::after {
        content: '';
        position: absolute;
        @include rounded(50%);
      }

      &::before {
        width: 16px;
        height: 16px;
        top: ($storyblock-circle-size - 16px)/2;
        left: ($storyblock-circle-size - 16px)/2;
        background: $cadet-blue;
      }

      &::after {
        width: 12px;
        height: 12px;
        top: ($storyblock-circle-size - 12px)/2;
        left: ($storyblock-circle-size - 12px)/2;
        background: $ship-cove;
        border: 2px $white solid;
        @include rounded(50%);
      }
    }
  }

  .text-container {
    padding: 10px $gutter;
    position: relative;
    background: $white;

    .title {
      font-size: 16px;
      margin-bottom: 6px;
      @extend .slab;

      span {
        font-weight: 800;
        margin: 0 5px 0 0;
      }
    }
    .description {
      position: relative;
      font-size: 13px;
      line-height: 1.5;
      width: 100%;
    }
    .default-actions, .exposed-actions {
      text-align: right;
      margin-top: $gutter/2;
    }
  }

  // Exposed storyblock, in edit mode

  &.exposed {
    position: fixed;
    top: 48px !important;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    padding: 0;
    z-index: 99;
    transition-duration: 250ms !important;
    @include transitionTiming(ease-out);

    @media #{$tablet-up}{
      top: 0 !important;
      right: $aside-width;
    }

    .index {
      display: none;
    }

    .text-container {
      width: 100%;
      height: 100%;
      padding: 2*$gutter 2*$gutter $gutter 2*$gutter;
      @include flexbox();
      @include flex-flow(column);

      .title {
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      .description {
        line-height: 1.8;
        @include flex(1 0 auto);
      }
    }
    .default-actions {
      display: none;
    }
  }
}