.sans-serif {
  font-family: 'Roboto', sans-serif;
}

.slab {
  font-family: 'Roboto Slab', serif;
}

.slab-bold {
  font-weight: 700;
  @extend .slab;
}

.flexbox {
  @include flexbox();
  > .flex-child {
    display: block;
  }
}
.flex-row {
  @include flex-flow(row nowrap);
}
/*
.flex-vtop {
  @include align-items(flex-start);
}
.flex-vbottom {
  @include align-items(flex-end);
}
.flex-vcenter {
  @include align-items(center);
}
.flex-hleft {
  @include justify-content(flex-start);
}
.flex-hright {
  @include justify-content(flex-start);
}
.flex-hcenter {
  @include justify-content(flex-start);
}
*/

.collapse {
  display: none;

  &.in {
    display: block;
  }
}

.collapsing {
  position: relative;
  overflow: hidden;
  -webkit-transition-timing-function: cubic-bezier(0.575, 0.255, 0.440, 0.985);;
  -o-transition-timing-function: cubic-bezier(0.575, 0.255, 0.440, 0.985);;
  transition-timing-function: cubic-bezier(0.575, 0.255, 0.440, 0.985);;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: flex-grow, visibility;
  -o-transition-property: flex-grow, visibility;
  transition-property: flex-grow, visibility;
}