/* Plain colours */
$white: #FFFFFF;
$athens-grey: #F9FAFB;
$white-smoke: #F6F6F6;
$white-lilac: #E9E9E9;
$alto: #CDCDCD;
$cadet-blue: #A4B9C4;
$aluminum: #9B9B9B;
$steel: #666666;
$tundora: #444444;
$black: #000000;

$mountain-meadow: #1ABC9C;
$bluewood: #2C3E50;
$dodger-blue: #0FA9F9;
$punch: #DD4B39;
$apple: #61993B;

/* Domain colours */
$bg-color: $athens-grey;
$contrast-header-color: rgba(221, 221, 221, 1);

/* Grid */
$gutter: 20px;

/* Dimensions */
$aside-width: 240px;
$header-height: 250px;
$storyblock-circle-size: 36px;
$timeline-left-padding: 21px;
$timeline-width: 2px;
$timeline-scrollable-area: 80px;

$corners: 4px;